In [89]:
#filling the null values with median values
processed_df = processed_df.fillna(processed_df.median(axis=0))

#one hot encoding
cats = ["a", "b", "c"]
df = pandas.DataFrame({"cat": ["a", "b", "a"]})
pandas.concat((pandas.get_dummies(df.cat, columns=cats), pandas.DataFrame(columns=cats))).fillna(0)

C:\Users\chitr\AppData\Local\conda\conda\envs\cse627\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  import sys

   a  b  c
0  1  0  0
1  0  1  0
2  1  0  0

In [2]:
'''
this program parses the description file,
in order to map all the string of categorical attributes to an integer
so that they can be treated as numerical attribute
and then removes the columns which have more than 100 nulls 
'''

'\nthis program parses the description file,\nin order to map all the string of categorical attributes to an integer\nso that they can be treated as numerical attribute\nand then removes the columns which have more than 100 nulls \n'

In [1]:
import pandas
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:

'''
@params:
    filename: a filename of the description.txt from kaggle competition describing each columns of dataset
@returns:
    dictionary of mapping for each string type of categorical values for each column with an integer
'''
def buildJSON(filename):
    with open(filename,'r') as f:
        d = dict()
        temp = ''
        count = 0
        for l in f:
            if l.strip() == '':continue
            if ':' in l:
                temp = l.split(':')[0]
                d[temp] = dict()
                count = 0
            else:
                lst = l.strip().split('\t')
                try:
                    int(lst[0])
                except ValueError:
                    d[temp][lst[0]] = count
                count += 1
    return d
#print(d)

In [3]:
'''
@params
    df: a dataframe from which the null columns are to be removied
    threshold: the total count of nulls in the column to decide whether to remove that column or not
@returns:
    dataframe with deleted columns based on the threshold from the provided dataframe 'df'
'''
def removeNullCols(df,threshold):
    count_null = sum(pandas.isnull(df[df.columns]),axis=0)
    return df[count_null[count_null < threshold].index]

In [127]:
filename = 'dataset/data_description.txt'
d = buildJSON(filename)
df = pandas.read_csv('dataset/train.csv')
processed_df = removeNullCols(df,50)
processed_df = processed_df.replace(d)
#d['Exterior1st']
#processed_df

In [128]:
from sklearn.ensemble import RandomForestRegressor
processed_df = processed_df.fillna(processed_df.median(axis=0))
y = processed_df['SalePrice']
X = processed_df.drop('SalePrice',axis=1)

In [130]:

#processed_df['Exterior2nd']
#sum(X.isna())
skf1 = StratifiedKFold(n_splits=10)
for train_index,test_index in skf.split(X,y):
    X_train, X_test = X.iloc[train_index],X.iloc[test_index]
    y_train, y_test = y.iloc[train_index],y.iloc[test_index]
    print(X_train.shape)
    r = RandomForestRegressor(100)
    r.fit(X_train,y_train)
    y_pred = r.predict(X_test)
    print(mse(y_test,y_pred))

C:\Users\chitr\AppData\Local\conda\conda\envs\cse627\lib\site-packages\sklearn\model_selection\_split.py:605: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

(728, 69)
2484325555.161202
(1156, 69)
405497139.5678957
(1258, 69)
376055327.642104
(1329, 69)
1026756748.3852168
(1369, 69)
416281349.55479777

In [142]:
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import mean_squared_error as mse
skf = StratifiedKFold(n_splits=5)
skf.get_n_splits(X, y)

tdf = pandas.get_dummies(df)
tdf = tdf.fillna(tdf.median(axis=0))
ty = tdf['SalePrice']
tX = tdf.drop('SalePrice',axis=1)
for train_index, test_index in skf.split(X, y):
    X_train, X_test = tX.iloc[train_index], tX.iloc[test_index]
    y_train, y_test = ty.iloc[train_index], ty.iloc[test_index]
    print(X_train.shape)
    r1 = RandomForestRegressor(50)
    r1.fit(X_train,y_train)
    ty_test = r1.predict(X_test)
    print(mse(y_test,ty_test))
    #print(pandas.concat(pandas.DataFrame(ty_test),y_test))
    ty_test = pandas.DataFrame(ty_test)
    fdf = pandas.concat([y_test,ty_test],axis=1)
    print(fdf)
#sum(pandas.isna(X[X.columns]))

C:\Users\chitr\AppData\Local\conda\conda\envs\cse627\lib\site-packages\sklearn\model_selection\_split.py:605: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

(728, 289)
2629442834.898907
      SalePrice         0
0      208500.0  198888.0
1      181500.0  165512.0
2      223500.0  208050.0
3      140000.0  170522.0
4      250000.0  289780.0
5      143000.0  149328.0
6      307000.0  242690.0
7      200000.0  205690.0
8      129900.0  170998.0
9      118000.0  125220.0
10     129500.0  133046.0
11     345000.0  322500.0
12     144000.0  133432.0
13     279500.0  228760.0
14     157000.0  152294.0
15     132000.0  166082.0
16     149000.0  143310.0
17      90000.0  133748.0
18     159000.0  149996.0
19     139000.0  138538.0
20     325300.0  292940.0
21     139400.0  158326.0
22     230000.0  225300.0
23          NaN  133618.0
24     154000.0  241658.0
25     256300.0  129688.0
26     134800.0  272980.0
27     306000.0  164786.0
28     207500.0   86610.0
29      68500.0   97110.0
...         ...       ...
1363   156932.0       NaN
1364   144152.0       NaN
1365   216000.0       NaN
1372   274300.0       NaN
1373   466500.0       NaN
1380    58500.0       NaN
1381   237500.0       NaN
1388   377500.0       NaN
1394   246578.0       NaN
1395   281213.0       NaN
1399   137450.0       NaN
1402   193879.0       NaN
1403   282922.0       NaN
1413   257000.0       NaN
1419   223000.0       NaN
1423   274970.0       NaN
1429   182900.0       NaN
1430   192140.0       NaN
1431   143750.0       NaN
1432    64500.0       NaN
1437   394617.0       NaN
1438   149700.0       NaN
1441   149300.0       NaN
1443   121000.0       NaN
1444   179600.0       NaN
1449    92000.0       NaN
1451   287090.0       NaN
1457   266500.0       NaN
1458   142125.0       NaN
1459   147500.0       NaN

[960 rows x 2 columns]
(1156, 289)
430826432.06145793
      SalePrice          0
0           NaN  140082.14
1           NaN  117304.36
2           NaN  155141.40
3           NaN  220422.70
4           NaN  209920.00
5           NaN  169918.80
6           NaN  113342.74
7           NaN  288458.58
8           NaN  238953.98
9           NaN  164683.14
10          NaN  111812.70
11          NaN  169947.50
12          NaN  121497.50
13          NaN  186153.34
14          NaN  119451.82
15          NaN  144860.00
16          NaN  191925.34
17          NaN  134857.16
18          NaN  197942.30
19          NaN  178429.80
20          NaN  128952.18
21          NaN  117026.16
22          NaN  219887.12
23     129900.0  292280.38
24          NaN  236523.28
25          NaN  191270.00
26          NaN  212470.98
27          NaN  111244.66
28          NaN  123972.00
29          NaN  189444.30
...         ...        ...
1288   278000.0        NaN
1293   162900.0        NaN
1295   138500.0        NaN
1301   177500.0        NaN
1303   232000.0        NaN
1307   138000.0        NaN
1309   179200.0        NaN
1311   203000.0        NaN
1312   302000.0        NaN
1317   208900.0        NaN
1325    55000.0        NaN
1328   256000.0        NaN
1329   176500.0        NaN
1333   125500.0        NaN
1335   167900.0        NaN
1342   228500.0        NaN
1346   262500.0        NaN
1352   134900.0        NaN
1362   104900.0        NaN
1366   193000.0        NaN
1378    83000.0        NaN
1387   136000.0        NaN
1414   207000.0        NaN
1415   175900.0        NaN
1416   122500.0        NaN
1417   340000.0        NaN
1426   271000.0        NaN
1433   186500.0        NaN
1442   310000.0        NaN
1446   157900.0        NaN

[569 rows x 2 columns]
(1258, 289)
393975834.8946931
      SalePrice          0
0           NaN  196137.60
1           NaN  241898.66
2           NaN  209812.96
3           NaN  233682.16
4           NaN  315523.80
5           NaN  188326.78
6           NaN  165079.00
7           NaN  141309.00
8           NaN  136939.74
9           NaN  150184.30
10          NaN  189115.12
11          NaN  221257.56
12          NaN  231107.12
13          NaN  203437.64
14          NaN  140530.00
15          NaN  117173.16
16          NaN  178140.80
17          NaN  124478.16
18          NaN  110912.00
19          NaN  139665.00
20          NaN  129273.00
21          NaN  151622.50
22          NaN  126094.66
23          NaN  146001.00
24          NaN  350623.68
25          NaN  129691.20
26          NaN  122343.86
27          NaN  148503.00
28          NaN  186297.50
29          NaN  121700.00
...         ...        ...
1237   195000.0        NaN
1238   142500.0        NaN
1249   119000.0        NaN
1250   244000.0        NaN
1263   180500.0        NaN
1266   122000.0        NaN
1277   197900.0        NaN
1284   169000.0        NaN
1292   107500.0        NaN
1306   202500.0        NaN
1310   335000.0        NaN
1323    82500.0        NaN
1326    79000.0        NaN
1327   130500.0        NaN
1330   227000.0        NaN
1340   123000.0        NaN
1358   177500.0        NaN
1369   232000.0        NaN
1370   105000.0        NaN
1371   165500.0        NaN
1376    91000.0        NaN
1379   167500.0        NaN
1383   112000.0        NaN
1385   125500.0        NaN
1389   131000.0        NaN
1398   138000.0        NaN
1401   193000.0        NaN
1412    90000.0        NaN
1450   136000.0        NaN
1453    84500.0        NaN

[404 rows x 2 columns]
(1329, 289)
1102156688.2345433
      SalePrice          0
0           NaN  204407.40
1           NaN  158598.00
2           NaN  165653.68
3           NaN  113320.28
4           NaN  225765.12
5           NaN  207054.10
6           NaN  133331.58
7           NaN  246322.16
8           NaN  148785.00
9           NaN  118255.64
10          NaN  144203.98
11          NaN  142604.50
12          NaN  170454.00
13          NaN  113779.66
14          NaN  160685.48
15          NaN  184079.64
16          NaN  146273.84
17          NaN  161146.28
18          NaN  175148.00
19          NaN  146357.52
20          NaN  107609.36
21          NaN  146910.00
22          NaN  122068.22
23          NaN  124706.00
24          NaN  168586.00
25          NaN  113008.64
26          NaN  177351.48
27          NaN  136154.50
28          NaN  148869.00
29          NaN  331016.08
...         ...        ...
1272   137000.0        NaN
1273   177000.0        NaN
1276   162000.0        NaN
1285   132500.0        NaN
1290   180500.0        NaN
1291   119500.0        NaN
1298   160000.0        NaN
1305   325000.0        NaN
1308   147000.0        NaN
1314   119000.0        NaN
1318   275000.0        NaN
1338   200000.0        NaN
1339   128500.0        NaN
1348   215000.0        NaN
1349   122000.0        NaN
1354   235000.0        NaN
1357   149900.0        NaN
1359   315000.0        NaN
1374   250000.0        NaN
1377   117000.0        NaN
1384   105000.0        NaN
1391   124000.0        NaN
1392   123000.0        NaN
1393   163000.0        NaN
1407   112000.0        NaN
1408   125500.0        NaN
1425   142000.0        NaN
1436   120500.0        NaN
1439   197000.0        NaN
1440   191000.0        NaN

[262 rows x 2 columns]
(1369, 289)
411376225.8081671
      SalePrice          0
0           NaN  119572.00
1           NaN  119380.98
2           NaN  145684.00
3           NaN  169962.00
4           NaN  185651.60
5           NaN  134083.36
6           NaN  115118.98
7           NaN  171235.48
8           NaN  188896.26
9           NaN  175710.34
10          NaN  114810.16
11          NaN  135530.50
12          NaN  197440.00
13          NaN  100956.00
14          NaN  172922.00
15          NaN  171327.88
16          NaN  185093.00
17          NaN  189690.00
18          NaN  163610.40
19          NaN  128752.08
20          NaN  170528.88
21          NaN  151798.00
22          NaN  146128.20
23          NaN   87752.38
24          NaN  117724.98
25          NaN  117945.16
26          NaN  147354.00
27          NaN  131638.00
28          NaN  201348.60
29          NaN  181414.66
...         ...        ...
1368   144000.0        NaN
1375   239000.0        NaN
1382   157000.0        NaN
1386   250000.0        NaN
1390   235000.0        NaN
1396   160000.0        NaN
1397   137500.0        NaN
1400   120000.0        NaN
1404   105000.0        NaN
1405   275000.0        NaN
1406   133000.0        NaN
1409   215000.0        NaN
1410   230000.0        NaN
1411   140000.0        NaN
1418   124000.0        NaN
1420   179900.0        NaN
1421   127500.0        NaN
1422   136500.0        NaN
1424   144000.0        NaN
1427   140000.0        NaN
1428   119000.0        NaN
1434   160000.0        NaN
1435   174000.0        NaN
1445   129000.0        NaN
1447   240000.0        NaN
1448   112000.0        NaN
1452   145000.0        NaN
1454   185000.0        NaN
1455   175000.0        NaN
1456   210000.0        NaN

[182 rows x 2 columns]